
<footer class="footer-area section-padding" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div class="footer-widget wow fadeInUp">
                    <h4>
                        Privacy Policy
                    </h4>
                    <p class="text-justify">
                        Marsk T All Rights Reserved. All contents of this site (including artwork,text,photos,other representations of the artworks,materials related to the artworks) are protected by copyright - any use of these materials without the express permission of Marsk T is a violation of said copyrights.
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="back-top" style="display: block;">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>