<header class="header-area">
    <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid header-inner">

            <div class="row">
                <div class="col-xs-12">

                    <div class="navbar-header" style="float:left;width:19%">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-toggle" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div>
                            <a href="{{ site.url }}/index.html">
                                <img src="{{ site.url }}/assets/images/marskt.png" class="img-responsive" alt="Marskt">
                            </a>
                        </div>
                    </div>

                    <div class="coolapse navbar-collapse" style="float:right;width:60%" id="mobile-toggle" >
                        <ul class="nav navbar-nav" style="float:right">
                            <li><a class="smooth-scroll" href="{{ site.url }}/index.html">Home</a></li>
                            <li><a class="smooth-scroll" href="{{ site.url }}/product/">Product</a></li>
                            <li><a class="smooth-scroll" href="{{ site.url }}/about.html">About Us</a></li>
                            <li><a class="smooth-scroll" href="{{ site.url }}/contact.html">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
    </nav>
</header>